#div3 {
    width: 200px;
    height: 200px;
    background: url(ad00f7efcd.jpg) no-repeat;
    background-size: 100% 100%;
}
#div2 {
    width: 200px;
    height: 200px;
    background: rgb(57, 46, 104);
}
